body {
    background-color: black;
}

#bvideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.navcontainer {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: 200px;
    margin-left: 20px;

    display: flex;
    align-items: center; 
}

.menu {
    height: 60px;
    width: 300px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bodycontainer {
    height: 645px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    height: 120px;
    width: 520px;
    margin-top: 160px;
    margin-left: -170px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    border: dashed 4px #8a7dff;
    height: 100px;
    width: 500px;
    margin-left: 206px;
    margin-top: -10px;

    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    color: #9febff;
}

#h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: italic;
    color: #FFFCF8;

    margin-left: 18px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 29px;
    font-weight: lighter;
    color: #DDF1FF;
    margin-left: 30px;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #9febff;
    margin: 6px;
    margin-top: 15px;
}

a:hover {
    color: #8a7dff;
}

#h2:hover {
    color: #9febff;
}