body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: red;
}

.thick {
    font-family: 'Source Sans';
    font-weight: 800;

    font-size: 70px;
    font-stretch: semi-condensed;
}

.thin {
    font-family: 'Source Sans';
    font-weight: 50;

    font-size: 70px;
    font-style: italic;
}