body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: red;
    font-size: 65px;
}

.b4::before {
    content: url(images/demo.png)
}

.af::after {
    content: url(images/demo.png)
}