body {
    
}

.container {
    border: 3px solid rgb(40, 41, 66);
    border-radius: 15px;
    background: rgb(40, 41, 66);    
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: auto;
    width: 410px;
    margin: 0 auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    border-radius: 15px;
    height: 650px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.mleft {
    border-radius: 15px;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mright {
    border-radius: 15px;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right {
    border-radius: 15px;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box {
    width: 60px;
    height: 60px;
    background: rgb(57, 58, 89);
    margin: 3px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 60px;
    height: 60px;
}